/* .a-logo{}
.a-header{align-items: center;
    background-color: #fff;
    display: flex;
    padding: 15px 24px;} */



.mokuji-toppage{
    padding-left: 50px;
        padding-right: 50px;
}
    .a-header{
display: flex;
flex-grow: b-header;
position: fixed;
z-index: 100;
background-color: rgb(255, 255, 255);
margin-top: -300px;
/* width: max-content; */
    }
.b-header{
    width: 714px;
}
.header-innner{ 
/* margin-left: 3px; */
width: 60;
}
.header-inner-contain{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}

 .icon-twitter-around{
        /* width:40px;  
        height: 40px;
        border-radius: 50%;
        object-fit: contain;
        border: 0.5px solid #ce1b1b;
        background: skyblue;
        position:absolute  */
        /* margin-left: 3px
        margin-right: 3px */
        margin-top: -8px;
        padding-left: 50px;
        padding-right: 50px;

        }

.twitter-icon{  position:relative ;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);};

 .icon-instagram-around{width:10px;  
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    border: 0.5px solid #ce1b1b;
    background: rgb(76, 175, 214);
    /* padding-right: 30px; */
    }

/* .instagram-icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);};

.a-footer{margin-top: 80px;
    justify-content: center;} */
/* .b-footer { */
        /* border-top: solid 1px #eee;} */

/* .line__button {
            background-color: #fff;
            border-radius: 50px;
            color: #333;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.1em;
            line-height: 1.8;
            max-width: 320px;
            padding: 12px;
            position: relative;
            width: 100%;
        } */


.posse-top-img{
    width: 1000px;
    height: 600px;
    margin-left: 400px;
    margin-top: -450px;
    position: absolute;
    z-index: -3;
}


.posse-top{
    z-index: 2;
    margin-top: 300px;
    width: 500px;
    height: 250px;
    background-color: rgb(191, 190, 190);
    border-radius: 20px;
    position: relative;
    
}

.posse-top-font{
    padding-top: 15px;
    font-size: 17px;
padding-left: 27px;
}

.posse-top-font-a{
    font-size: 68px;
    padding-left: 25px;
}

.a-container{
    margin: 0 auto;
    max-width: 1032px;
    padding: 0 24px;
    width: 100%;
}

.scroll-down{
    align-items: center;
    /* bottom: 24px; */
    display: inline-flex;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 14px;
    gap: 6px;
    left: 32px;
    line-height: 1.5;
    position: absolute;
    margin-top: 250px;
}
::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

.scroll-down::before{
    background-color: #ccc;
    border-radius: 8px;
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    
}

.a-container-contain{

    background-image: url(./img/bg-line.jpg)  ;
    background-color:rgba(31, 104, 222, 0.989);
    background-blend-mode:darken;
    width: 848px;
    height: 221px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 48px;
    overflow: hidden;
    padding: 68px;
    position: relative;
    margin-bottom: 80px;
    
}
/* .a-container-contain-background{
    background-color: blue;
} */
/* .a-container-contain-opacity{
    opacity: 0.3;
} */
.a-container-contain-LINE{
    display: flex;
    justify-content: center;
    display: flex;
    
    
}
.line-icon{
    width: 40px;
    height: 40px;
    background-color: azure;
    margin-right: 8px;
    margin-top: 15px;
    
}
.line-public{
    color: white;
    width: 281px;
    height: 43px;
    font-size: 35px;
    padding-top: 12px;
    /* margin-top: auto; */
}
.a-container-contain p{
    color: aliceblue;
            text-align: center;
            margin-top: 26px;
}

.line-section{
    background-color: azure;
    border-radius: 98px;
    width: 320px;
    height: 50px;
    margin-left: 265px;

}
.jump-line{
    width: 10px;
    height: 10px;
}
        /* .picture-line{
            position: relative;
            display: flex; 
            /* display: inline-flex;  */
            /* background: center / contain no-repeat url("bg-line.jpg"),
            rgb(16, 16, 16) 35% 
            background-image: url("bg-line.jpg") ;
            overflow: hidden;
            /* background-color: blue;  */
            /* justify-content: center;
            border-radius: 30px;
                }
            .picture-line-background{ 
              
                width: 70%;
                border-radius: 30px;
                object-position: 0 100%
            } 
         .picture-line p{
            position: absolute;
            color: rgb(255, 255, 255);/*文字は白に*/
            /* display: flex; 
  
        .picture-line img {
           
            width: 70%;
            border-radius: 30px;
            opacity: 0.5;
            display:block;
            }   */ */

/*             
.picture-line{
    position: relative;

}

.picture-line p{
    position: absolute;
    top: 0;
    left: 0;
    color:white;
}
.picture-line img{
    
} */

.p-line__body{
    background: #999 url(../bg-line-bg.jpg);
    background-image: url(bg-line.jpg);
    width: 700px;
  height: 500px;
  
}

.a-footer-inner{
    text-align: center;
    margin-top: 56px;
}
.a-footer-link{
    margin: 15px;
}
.twitter-sns-link{
    width: 20px;
    text-decoration: none;
    margin-right: 25px;
}
.instagram-icon-footer{
    margin-left: 25px;
}
.footer__copyright{
    text-align: center;
}
.main-section{
    text-align: center;
    margin-bottom: -21.440px;
    margin-top: 300px;

}

.main-section-small{
    text-align: center;
    size: 3px;
    color: rgb(18, 73, 213);
    /* margin-top: 0; */
}
.main-img-contain{
    text-align: center;
}
.mian-img-img{
    width: 472px;
    height: 312px;
    margin-left: 228px;
    margin-top: 0px;
    margin-right: 40px;
    border-radius: 40px;
    margin-bottom: 150px;
}
.section-heading{
    margin-bottom: -21.440px;
}
.main-header{
    /* margin-top: 100px; */
    /* margin-top: 300px; */
    /* padding-top: 400px; */
    text-align: center;
}
.main-section-contain{
    margin-top: 60.5px;
    margin-right: 228px;
     /* width: 472px;
    height: 175px; */
}
.line-footer{
    width:280px;
    height: 70px;
    background-color: rgb(67, 183, 67);
}
.line-footer-icon-line{
    width: 10px;
    height: 10px;
}
.line-footer-icon-arrow{
    width: 10px;
    height: 10px;
}